/.vs/*
/iva-sdk/x64/*
/iva-tester/x64/*
/iva-tester/logs/*
/iva-tester/*.bmp
/iva-tester/*.jpg
/output/*
*.user
*.roisetting
/import/*
/simple-tester/x64/*
/testing/*
*.o
*.so
*.so.*
/release/*
/release_iva/*
/release_iva_arm64/*
/release_sta/*
/release_isa/*
/release_motion/*
/release_motion_android/*
/release_people-counting/*
/release_smart-classroom/*
/simple-tester/x64/*
/classifier-tester/x64/*
/experiment/x64/*
/sample_tester/x64/*
/sample_tester/*.bmp
/sample_tester/logs/*
/smart-classroom-sdk/x64/*
/smart-classroom-tester/x64/*
/smart-classroom-tester/logs/*
/fdr-sdk/x64/*
/fdr-tester/x64/*
/motion-sdk/x64/*
/motion-tester/x64/*
/motion-tester/Tester
/motion-tester/*.bmp
/motion-tester/*.jpg
/motion-tester/logs/*
/motion-tester/android/*
/swissKnife/x64/*
/swissKnife/trt*
/swissKnife/swissKnife
/swissKnife/logs/*.*
/swissKnife/*.a
/swissKnife/android/*
/people-counting-sdk/x64/*
/people-counting-tester/x64/*
/people-counting-tester/Tester
/people-counting-tester/logs/*
/arnooFaceTester/x64/*
*.js
*.wasm
/pc-tester/x64/*
/pc-tester/logs/*
/pc-tester/Release/*
/CMakeLists.txt
/iva-sdk-linux/x64/*
/iva-sdk-linux/logs/*
/iva-sdk-linux/*.bmp
/iva-sdk-linux/*.jpg
/iva-tester-linux/Tester
/iva-tester-linux/x64/*
/iva-tester-linux/logs/*
/iva-tester-linux/*.bmp
/iva-tester-linux/linux-arm64/Tester
/iva-tester-gui/x64/*
/iva-tester-gui/logs/*
imgui.ini
/iva-tester/config.json
/sta-sdk/x64/*
/sta-tester/x64/*
/sta-tester/config.json
/sta-tester/logs/*
/sta-tester-linux/Tester
/sta-tester-linux/x64/*
/sta-tester-linux/logs/*
/gtest_iva/x64/*
/gtest_iva/gtest_iva
.svn*
/gtest_iva/logs/ldscv-iva-rotating.log
/gtest_iva/logs/ldscv-motion-rotating.log
/iva-tester-qt/CMakeLists.txt.user*
*build-iva-tester-qt*
/people-counting-tester/*.bmp
iva-tester-qt/build_win/*
iva-tester-qt/install_win/*
/isa-tester/x64/*
/isa-tester/logs/*
/isa-tester/config_isa.json
/isa-sdk/x64/*
/isa-tester-linux/x64/*
/isa-tester-linux/logs/*
/isa-tester-linux/Tester
/ldsFace/x64/*
/ldsFaceTester/x64/*
/gtest_iva/motion_contextId_0_saveImg.bmp
/gtest_iva/logs/ldscv-iva-rotating-long-stay.log